{% extends "tools/base.html" %}

<div class="name_tag">
		<h2><a href="/{{person.id}}">{{person.name}}</a></h2>
	</div>
	 <div class="title_tag">
	 	<h2> {{ person.title }}</h2>
	 </div>
	 <div class="date_tag">
	 	<h3>{{ person.date }}</h3>
	 </div>

	 <div class="software">
	 	<h2> Software </h2>
	 	<p>Software: {{ person.software|safe|linebreaks }}</p>
	 </div>

	 <div class="hardware">
	 	<h2>Hardware</h2>
	 	<p>{{ person.hardware|safe|linebreaks }}</p>
	 </div>

	 <div class="dream_setup">
	 	<h2> Dream Setup</h2>
	 	<p>Dream Setup: {{ person.dream_setup }}</p>
	 </div>

	 <div class=